/* 
 * My97 DatePicker 4.8
 */
html{
    font-size:937.5%;/*pxªªÀ„≥…rem*/
}
.WdateDiv{
	width:180px;
    width:1.8rem;
	background-color:#FFFFFF;
	border:#d8dae0 1px solid;
    border:#d8dae0 0.01rem solid;
}

.WdateDiv2{
	width:360px;
    width:3.6rem;
}
.WdateDiv *{
    font-size:10px;
    font-size:0.1rem;

}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:15px;
	width:16px;
    position:relative;
    top:3px;
    top:0.03rem;
    background-color:#433f3a;
}

.WdateDiv .NavImgll a{
    display:block;
	cursor:pointer;
	height:15px;
	width:16px;
    position:relative;
    top:3px;
    top:0.06rem;
	float:left;
    background-image:url(img.png);
    background-repeat:no-repeat;
    background-position:0 0;
    background-color:#f6f6f6;
}
.WdateDiv .NavImgl a{
    display:block;
	cursor:pointer;
	height:15px;
	width:16px;
    position:relative;
    top:3px;
    top:0.06rem;
	float:left;
    background-image:url(img.png);
    background-repeat:no-repeat;
    background-position:-16px 0;
    background-color:#f6f6f6;
}
.WdateDiv .NavImgr a{
    display:block;
	cursor:pointer;
	height:15px;
	width:16px;
    position:relative;
    top:3px;
    top:0.06rem;
	float:right;
    background-image:url(img.png);
    background-repeat:no-repeat;
    background-position:-32px 0;
    background-color:#f6f6f6;
}
.WdateDiv .NavImgrr a{
    display:block;
	cursor:pointer;
	height:15px;
	width:16px;
    position:relative;
    top:3px;
    top:0.06rem;
	float:right;
    background-image:url(img.png);
    background-repeat:no-repeat;
    background-position:-48px 0;
    background-color:#f6f6f6;
}

.WdateDiv #dpTitle{
	height:24px;
    height:0.24rem;
	/*margin-bottom:2px;*/
    /*margin-bottom:0.02rem;*/
	padding:1px;
    padding:0.01rem;
    background-color:#f6f6f6;
    color:#666666;
}

.WdateDiv .yminput{
	margin-top:2px;
    margin-top:0.02rem;
	text-align:center;
	height:20px;
    height:0.2rem;
	border:0px;
	width:50px;
    width:0.5rem;
	cursor:pointer;	
    color:#666666;
    background-color:#f6f6f6;	
}

.WdateDiv .yminputfocus{
	margin-top:2px;
    margin-top:0.02rem;
	text-align:center;
	font-weight:bold;
	height:20px;
    height:0.2rem;
	color:blue;
	border:#ccc 1px solid;
	width:50px;
    width:0.5rem;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;	
	border:#ccc 1px solid;
    border:#ccc 0.01rem solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
    color:#666666;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#f19a36;
    color:#fff;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
	margin-top:0.2rem;
}

.WdateDiv .MMenu{
	margin-top:20px;
    margin-top:0.2rem;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
    margin-top:-0.9rem;
	margin-left:26px;
    margin-left:0.26rem;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
    margin-top:-0.46rem;
	margin-left:26px;
    margin-left:0.26rem;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
    margin-top:-0.24rem;
	margin-left:26px;
    margin-left:0.26rem;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
    border-right:#BDEBEE 0.01rem solid;
 }

.WdateDiv .MTitle{
	background-color:#f6f6f6;
    color:#888888;
    border-bottom:1px solid #cabfb3;
    border-bottom:0.01rem solid #cabfb3;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#c5d9e8 1px solid;
    border:#c5d9e8 0.01rem solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;
    line-height:0.2rem;
}
.WdateDiv .WdayTable td{
	text-align:center;
    /*border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
     border-radius:0.02rem;
    -webkit-border-radius:0.02rem;
    -moz-border-radius:0.02rem;*/
}

.WdateDiv .Wday{
	cursor:pointer;
    color:#433f3a;
}

.WdateDiv .WdayOn{
	cursor:pointer;
    color:#fff;
	background-color:#ff9211;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#ff9211;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#fff;
	background-color:#f19a36;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#ff9211;
    color:#fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#cccccc;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
    color:#fff;
	background-color:#f19a36;	
}

.WdateDiv .WinvalidDay{
	color:#cccccc;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
    margin-top:0.03rem;
	margin-right:0.3rem;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:0.01rem;
}

.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;	
    width:0.18rem;
	height:0.2rem;
	border:#ccc 0.01rem solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
    width:0.07rem;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.png) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
    background:url(img.png) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
    float: left;
    margin: 2px 3px;
    margin:0.06rem 0.1rem;
    background: url(img.png) no-repeat 0 -18px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    /*background-color: #b2a699;*/
 }
.WdateDiv #dpControl {
	text-align:right;	
    background-color:#f5f5f5;
    padding:2px;
    padding:0.02rem;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	border:#d2d3db 1px solid;
	margin-top:2px;
	margin-right:2px;
	height:0.2rem;
	width:0.45rem;
	border:#d2d3db 0.01rem solid;
	margin-top:0.02rem;
	margin-right:0.02rem;
    cursor:pointer;
    color:#fff;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:0.02rem;
    -webkit-border-radius:0.02rem;
    -moz-border-radius:0.02rem;
}
.WdateDiv #dpClearInput{ 
    background-color:#fff;
    border-color:#d2d3da;
    color:#666666;
}
.WdateDiv #dpClearInput:hover{
    background-color:#d2d3da;

}

.WdateDiv #dpTodayInput{ 
    background-color:#fff;
    border-color:#f19a36;
    color:#ff9211;
    border-color:#ff9211;
}
.WdateDiv #dpTodayInput:hover{
    background-color:#ff9211;
    border-color:#ff9211;
    color:#ffffff;
}

.WdateDiv #dpOkInput{ 
    background-color:#ff9211;
    border-color:#ff9211;
}
.WdateDiv #dpOkInput:hover{
    background-color:#e78719;
    border-color:#e78719;
}
.WdateDiv #dpClearInput:disabled,
.WdateDiv #dpTodayInput:disabled,
.WdateDiv #dpOkInput:disabled{
    background-color:#e6e6e6;
    border-color:#e6e6e6;
    color:#aaaaaa;
}